body{	
	background-color: #e6e6e6;
}

.login{
	padding: 0 10px;
	margin-top: 80px;
	
}
.login h4{
	color: #555;
}

.login input,.login button{
	width: 100%;
	font-size: 16px;
	border: none;
	height: 40px;
	text-indent: 10px;
	border-radius: 4px;
	padding: 0;
}
.login button:disabled{
	background: #aaa !important;	
}
.login .btn-verify{
	padding-left: 20px;
}
.login .row{
	margin-bottom: 15px;
}
.login #btn-verify{
	background: #ee4543;	
	color: #fff;
	font-weight: bold;
}
.login .btn{
	background: #f2b801;	
	font-weight: bold;
	color: #444;
}
.login .btn-bottom{
	margin-top: 40px;
}

